Value NAME (\S+)
Value HARDWARE (\S+)
Value INDEX (\d+)
Value METRIC (\d+)
Value MTU (\d+)

Start
  ^Interface\s${NAME} -> Record
  ^\s+Hardware\sis\s${HARDWARE} -> Record
  ^\s+index\s${INDEX}\smetric\s${METRIC}\smtu\s${MTU}.+ -> Record
